.answer.card
  .numbers.like-badge
    .number
      span.number.num-likes= answer.numLikes
    .button
      a.like.answer-like-btn(href='#', data-id=answer.id)
        i.fa.fa-thumbs-up
        | 
        | Like
    .number
      span.number.num-Unlikes= answer.numunLikes
    .button
      a.like.answer-unlike-btn(href='#', data-id=answer.id)
        i.fa.fa-thumbs-down
        | 
        | UnLike

        
  .card-body
    .content= answer.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | answered on #{moment(answer.createdAt).format('YYYY-MM-DD')}
        if answer.author
          | 
          | by #{answer.author.name}
