extends ../layout

block content
  .container
    h1.main-title= competition.title

    .competition.show
      include _competition

      .buttons
        button.btn.btn-outline-warning #[i.fa.fa-thumbs-up ] 좋아요
        | 
        a.btn.btn-outline-secondary(href=`/competitions/${competition.id}/edit`) 편집
        | 
        a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/competitions/${competition.id}?_method=delete`) 삭제
        |
        |
        a.btn.btn-outline-primary(href=`/competitions/${competition.id}/edit`) 페이스북
        | 
        a.btn.btn-outline-info.delete-btn(href="#", data-url=`/competitions/${competition.id}?_method=delete`) 트위터
        | 
        a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/competitions/${competition.id}?_method=delete`) 신고
    if competition.numAnswers > 0
      hr
      h3 댓글 (#{competition.numAnswers})
      .answers.show
        each answer in answers
          include _answer

    form(action=`/competitions/${competition.id}/answers`, method='POST')
      .form-group
        label(for='answer') 나의 댓글
        textarea.form-control(name="content", rows="5")
      button.btn.btn-outline-warning(type="submit") 댓글달기

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });

  |
  br
  |
  br