extends ../layout



block content
  .container

      
    h1.main-title= competition.title

    .competition.show
      .row
        .col-sm-8
          | 공모요강
          .content= competition.content
          br
          | 분야
          .content= competition.field
          |
          br
          | 응시대상
          .content= competition.participant
          |
          br
          | 주최사
          .content= competition.sponsor
          |
          br
          | 시상내역
          .content= competition.award
          |
          br
          | 접수시작
          .content= competition.startTime  
          |
          br
          | 접수종료
          .content=competition.endTime
          |
          br
          | 홈페이지
          .content= competition.homepage
          |
          br
          | 담당자
          .content= competition.person
          |
          br
          | 연락처
          .content= competition.contact

 


    .competition.show
      include _competition

      .buttons
        if (currentUser && currentUser.email == 'admin@gmail.com')  
          button.btn.btn-primary.competition-like-btn(data-id=competition.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like

          a.btn.btn-outline-danger(href=`/competitions/${competition._id}/favorite`) 
            i.fas.fa-heart
            | Favorite


          if competition.author && competition.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/competitions/${competition.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/competitions/${competition.id}?_method=delete`) Delete
      
    if competition.numAnswers > 0
      hr
      h3 #{competition.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/competitions/${competition.id}/answers`, method='POST')
        .form-group
          label(for='answer') Your Answer
          textarea.form-control(name="content", rows="5")
        button.btn.btn-warning(type="submit" style='color: white') Post Your Answer
        |
        br
        |
        br  


  script(src='/javascripts/competition_client.js')