extends ../layout

block content
  .container

      
    h1.main-title= competition.title 
    //- .content(style='float:right;')= competition.status 
    .SNS_Share_Top.hidden-xs(style='float:right; margin: 0px 0px 10px 10px; padding: 0px;')  
      // Share on Twitter
      a(href='#', onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20'\
      +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog',\
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', alt='Share on Twitter')
        img(src='/images/Twitter.png' width=30)
      // Share on Facebook
      a(href='#', onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='\
      +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog',\
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', alt='Share on Facebook')
        img(src='/images/Facebook.png' width=30)
      // Share on Google+
      a(href='#', onclick="javascript:window.open('https://plus.google.com/share?url='+encodeURIComponent(document.URL), 'googleplussharedialog','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;", target='_blank', alt='Share on Google+')
        img(src='/images/Google_Plus.png' width=30)
      // Share on Kakaostory
      a(href='#', onclick="javascript:window.open('https://story.kakao.com/s/share?url='+encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;", target='_blank', alt='Share on kakaostory')
        img(src='/images/Kakao_Story.png' width=30)
      // Share on Naver
      a(href='#', onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url='\
      +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title),\
      'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", target='_blank', alt='Share on Naver')
        img(src='/images/Naver.png' width=30) 
    .content(style='float:right; font: bold italic 1.6em/1.0em 돋움체;')= competition.status 

    //- font: bold italic 2.0em/1.0em 돋움체;
    //- .content.button.btn.btn-outline-success(style='float:right;')= competition.status 
    //- .content.button.btn.btn-outline-warning( style='float:right;')= competition.status 
    //- button.btn.btn-outline-success(href=``)= competition.status 
    //-   i.fas.fa-heart
    //-   | &nbsp; favorite
    br
    
    .competition.show
      .row
  
        .col-sm-8
          | 공모요강
          .content= competition.content
          br
          | 분야
          .content= competition.field
          |
          br
          | 응시대상
          .content= competition.participant
          |
          br
          | 주최사
          .content= competition.sponsor
          |
          br
          | 시상내역
          .content= competition.award
          |
          br
          | 접수시작
          .content= competition.startTime  
          |
          br
          | 접수종료
          .content=competition.endTime
          |
          br
          | 홈페이지
          .content= competition.homepage
          |
          br
          | 담당자
          .content= competition.person
          |
          br
          | 연락처
          .content= competition.contact
          br
          | 장소
          .content= competition.location
          br

      include _competition
      .buttons
        if currentUser
          button.btn.btn-outline-primary.competition-like-btn(data-id=competition.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
          |
          |
          |
          //- (href=`/competitions/${competition._id}/favorite`)
          button.a.btn.btn-outline-success(href=`/competitions/${competition._id}/favorite`)
            i.fas.fa-heart
            | &nbsp; favorite
          //- button.btn.btn-outline-primary.competition-favorite-btn(data-id=competition.id) 
            //- span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] favorite        
                //- button.btn.btn.btn-outline-success(href="" onclick="alert('보관함에 저장되었습니다.')")
                //-   i.fas.fa-heart.competition-icon(aria-hidden='true', data-id=competition._id)
                //-   | &nbsp; Add favorite
               
          button.a.btn.btn-outline-dark(href=`/competitions/${competition._id}/favorite` type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo')
            i.fas.fa-bomb
            | &nbsp; Report competition
          #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title 신고하기
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  form
                    .form-group
                      label.col-form-label(for='recipient-content') 공모전 이름:
                      h5.m.title(stype = 'color:black')= competition.title
                  
       
                    .form-group
                      label.col-form-label(for='message-text') 신고 사유:
                        |
                        br
                        .form-check
                          input#exampleRadios1.form-check-input(type='radio', name='exampleRadios', value='option1', checked='')
                          label.form-check-label(for='exampleRadios1')
                            | 부적절한 홍보 게시물
                        .form-check
                          input#exampleRadios2.form-check-input(type='radio', name='exampleRadios', value='option2')
                          label.form-check-label(for='exampleRadios2')
                            | 음란성
                        .form-check
                          input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='option3', disabled='')
                          label.form-check-label(for='exampleRadios3')
                            | 특정인 대상의 비망/욕설
                        .form-check
                          input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='option4', disabled='')
                          label.form-check-label(for='exampleRadios3')
                            | 저작권 침해
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') 취소
                  button.btn.btn-primary(type='button') 신고



                      //- if (competition.author && competition.author.id == currentUser.id && currentUser.email == 'admin@gmail.com')
          if (competition.author.id == currentUser.id || currentUser && currentUser.email == 'admin@gmail.com')
            | 
            a.btn.btn-outline-secondary(href=`/competitions/${competition.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/competitions/${competition.id}?_method=delete`) Delete


                //-           |&nbsp;      
                //-           a.btn.btn-outline-info(href='#', onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20'\
                //-           +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog',\
                //-           'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', alt='Share on Twitter')
                //-             i.fas.fa-share-alt-square(style='color: #2ECCFA')
                //-             | &nbsp; twitter
                //-           //- |&nbsp;
                //-           //- |&nbsp;
                //-           //- |
                //-           //- |
                //-           //- |
                //-           //- |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                //-           a.btn.btn-outline-primary(href='#', onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='\
                //- +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog',\
                //- 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', alt='Share on Facebook')
                //-             i.fas.fa-share-alt-square(style='color: #1E90FF')
                //-             | &nbsp; facebook
          
            //- a.fa.fa-facebook(href='#')
            //- a.fa.fa-twitter(href='#') 왜 안먹어;
            //- SNS 공유하기 !
            //- .SNS_Share_Top.hidden-xs
            //-   // Share on Twitter
            //-   a(href='#', onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20'\
            //-   +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog',\
            //-   'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', alt='Share on Twitter')
            //-     img(src='/images/Twitter.png' width=30)
            //-   // Share on Facebook
            //-   a(href='#', onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='\
            //-   +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog',\
            //-   'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', alt='Share on Facebook')
            //-     img(src='/images/Facebook.png' width=30)
            //-   // Share on Google+
            //-   a(href='#', onclick="javascript:window.open('https://plus.google.com/share?url='+encodeURIComponent(document.URL), 'googleplussharedialog','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;", target='_blank', alt='Share on Google+')
            //-     img(src='/images/Google_Plus.png' width=30)
            //-   // Share on Kakaostory
            //-   a(href='#', onclick="javascript:window.open('https://story.kakao.com/s/share?url='+encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;", target='_blank', alt='Share on kakaostory')
            //-     img(src='/images/Kakao_Story.png' width=30)
            //-   // Share on Naver
            //-   a(href='#', onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url='\
            //-   +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title),\
            //-   'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", target='_blank', alt='Share on Naver')
            //-     img(src='/images/Naver.png' width=30)

    

    if competition.numAnswers > 0
      hr
      h3 #{competition.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/competitions/${competition.id}/answers`, method='POST')
        .form-group
          label(for='answer') Your Answer
          textarea.form-control(name="content", rows="5")
        button.btn.btn-warning(type="submit" style='color: white') Post Your Answer
        |
        br
        |
        br  



  script.
    $('#exampleModal').on('show.bs.modal', function (competition) {
    var button = $(competition.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
    })

  script(src='/javascripts/competition_client.js')



//- .form-group
//-   label.col-form-label(for='recipient-name') 작성자:
//-   input#recipient-name.form-control(type='text')
//- .form-group
//-   label.col-form-label(for='recipient-content') 공모전 이름:
//-     h5.main-title= competition.title
//- input#recipient-name.form-control(type='text')
//-         |
//- a(href='' onclick="alert('북마크 되었습니다')")
//-       //- btn.btn-outline-success(href=`/competitions/${competition._id}/favorite`) 
//-   i.fas.fa-heart.competition-icon(aria-hidden='true', data-id=competition._id)
//-   | &nbsp; Favorite
//- |
//- |
//-           //- a(href='' onclick="alert('북마크 되었습니다')")
//-           //-   i.fa.fa-bookmark-o.competition-icon(aria-hidden='true', data-id=competition._id)
//-       //- a.btn.btn-outline-dark(href='#' onclick="alert('북마크 되었습니다')") 
//-       //-   i.fas.fa-heart.competition-icon(aria-hidden='true', data-id=competition._id)
//-       //-   | &nbsp; Report competition