extends ../layout

block content
  .container
    h1.main-title= user.name
          
    dl.row
      dt.col-sm-3 Email
      dd.col-sm-9
        a(href=`mailto:${user.email}`, style='color:black')= user.email

      dt.col-sm-3 address
      dd.col-sm-9
        a(href=`mailto:${user.address}`, style='color:black')= user.address
      dt.col-sm-3 sex
      dd.col-sm-9
        a(href=`mailto:${user.sex}`, style='color:black')= user.sex
      dt.col-sm-3 birthday
      dd.col-sm-9
        a(href=`mailto:${user.birthday}`, style='color:black')= user.birthday
      dt.col-sm-3 Created At
      dd.col-sm-9= user.createdAt
      
      if user.facebook.id
        dt.col-sm-3 Facebook
        dd.col-sm-9
          img.img-fluid.rounded-circle(src= user.facebook.photo)

    hr
    p
      a.btn.btn-outline-secondary(href='/users/') List
      | 
      a.btn.btn-outline-primary(href=`/users/${user._id}/edit`) Edit
      | 
      a.btn.btn-outline-danger.need-confirm-btn(href=`/users/${user._id}?_method=DELETE`) Delete
